[Desktop Entry]
Type=Application
Name=Device Manager
Comment=View and manage hardware devices
Exec=devmgmt
Icon=applications-system
Categories=System;HardwareSettings;
Terminal=false
StartupNotify=true
